









<div class ="about">
	<div class "container" </div>
    <h1>About</h1>
    <p>"Hi my is name Noah Finnerman and this is my first web application. I built this app using the One Month Rails olnine class. I plan to add more customization to this application, so I can turn site into photo sharing app base around urban exploring or a place for photographers to collaborate and get feedback on their work.

If you are interested in staying posted about my photography or keeping up with what happens to this app, you can following me on instagram"</p>
    <a href="http://instagram.com/dr_pk_toad?ref=badge" class="ig-b- ig-b-v-24"><img src="//badges.instagram.com/static/images/ig-badge-view-24.png" alt="Instagram" /></a>



  
  </div>

  <img src="http://goo.gl/Lva9p1" 
 style="padding-top: 12px; border-radius: 23px; box-shadow: 10px 10px 5px #888888 " alt="25"/>

 






