

<div class="container">
<div class="jumbotron">
  
   
	<center><h1>Welcome to my app</h1>
<p> Click here to <%= link_to 'Log In' , '#', class: "btn btn-primary" %> <%=link_to 'Sign up' , '#', class: "btn btn-success" %>
 </p></center>


  </div>
</div>





